{% set node = nodes[inventory_hostname] %}
!
vrf definition {{node.vpn_name}}
 rd {{node.vpn_rd}}
 !
 address-family ipv4
  import map Policy-PASS
  route-target export {{node.vpn_rt}}
  route-target import {{node.vpn_rt}}
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
interface {{node.interface }}
 vrf forwarding {{ node.vpn_name }}
 ip address {{node.vpn_int_ip}} {{node.vpn_int_mask}}
 no shutdown 
 negotiation auto
!
route-map Policy-PASS permit
!
router bgp {{common.local_bgp_as}}
 bgp router-id {{node.rid}}
 !
 address-family ipv4 vrf {{ node.vpn_name }}
  neighbor {{node.vpn_bpg_neighbor_ip}} remote-as {{node.neighbor_BGP_Remote_AS}}
  neighbor {{node.vpn_bpg_neighbor_ip}} activate
  neighbor {{node.vpn_bpg_neighbor_ip}} as-override
 exit-address-family
 !

 